.container {
  display: flex;
  flex-direction: column;
  max-width: 1440px;
  margin: 0 auto;
  margin-bottom: 24px;
  padding: 100px 100px 0 100px;

  .content {
    h1 {
      font-family: "Bahnschrift", sans-serif !important;
      font-style: normal;
      font-weight: 500;
      font-size: 30px;
      line-height: 73px;
      text-align: center;
      color: rgba(57, 56, 63, 0.8);
      margin-bottom: 50px;
    }

    .map {
      display: flex;
      .iframe {
        filter: drop-shadow(0px 0px 20px #c8b552);
        border-radius: 20px;
        margin: 0 auto;
        height: 500px;
        border: none;
      }
    }

    p {
      margin-top: 50px;
      font-family: "Montserrat", sans-serif;
      font-style: normal;
      font-weight: 600;
      font-size: 18px;
      line-height: 24px;
      text-align: center;
      color: rgba(57, 56, 63, 0.8);
    }
  }
}

@media screen and (min-width: 551px) and (max-width: 1440px) {
  .container {
    padding: 0px 100px 50px 100px !important;
  }
}

@media screen and (min-width: 0px) and (max-width: 550px) {
  .container {
    padding: 0 20px 0 20px;
    .content {
      h1 {
        font-size: 28px;
      }
    }
    .map {
      .iframe {
        width: 100% !important;
      }
    }
  }
}
